@import url(https://fonts.googleapis.com/css?family=Exo:400,300);

.appMenu {
  list-style: none;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appMenu li {
  padding: 0.5em;
  margin: 0.5em;
}

.appMenu li a{
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  color: #000;
}

.appMenu li a:hover {
  color: #B03805;
}
